.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 14px;
  list-style: none;
  margin-top: -10px;
  li {
    display: block;
  }
  &.buttons--hero {
    align-items: flex-start;
    .button {
      width: auto;
      min-width: 230px;

      @media (max-width: 767px) {
        margin: 0;
        min-width: 100%;
        width: 100%;
      }
    }
  }
  &.buttons--greeting {
    align-items: flex-start;
    li {
      display: block;
      width: 100%;
    }
    .button {
      width: auto;
      min-width: 350px;

      @media (max-width: 767px) {
        margin: 0;
        min-width: 100%;
        width: 100%;
      }
    }
  }
}

.button {
  display: inline-flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 70px;
  padding: 20px 40px;
  min-width: 230px;
  font-size: 24px;
  line-height: 1;
  font-family: var(--font);
  font-weight: 900;
  border-radius: 100px;
  z-index: 1;
  border: none;
  color: inherit;
  text-transform: uppercase;
  margin-top: 10px;
  outline: none;
  cursor: pointer;
  transition: 0.2s;
  background: var(--color);
  box-shadow: 0px 4px 0px var(--color-shadow);
  transform: translate(0px, 0px);
  text-decoration: none;
  text-align: center;
  user-select: none;
  &:hover {
    background: var(--color-hover);
  }

  &.disabled {
    opacity: 0.3;
    pointer-events: none;
  }

  &.full {
    width: 100%;
  }
  &:active {
    transform: translate(0px, 2px);
    box-shadow: 0px 2px 0px var(--color-shadow);
  }

  &.button--yellow {
    background: var(--yellow);
    box-shadow: 0px 4px 0px var(--yellow-shadow);
    color: var(--color);
    &:hover {
      background: var(--yellow-hover);
    }
    &:active {
      box-shadow: 0px 2px 0px var(--yellow-shadow);
    }
  }

  &.button--white {
    background: var(--text-color);
    box-shadow: 0px 4px 0px var(--color-shadow);
    color: var(--color);
    &:hover {
      background: rgba(255, 255, 255, 0.9);
    }
    &:active {
      box-shadow: 0px 2px 0px var(--color-shadow);
    }
  }
}

@media (max-width: 1439px) {
  .buttons {
    gap: 5px;
  }
}

@media (max-width: 1279px) {
  .buttons {
    margin-top: 0px;
    gap: 10px;
  }
}

@media (max-width: 767px) {
  .button {
    padding: 10px 20px;
    font-size: 22px;
    line-height: 1;
    font-family: var(--font);
    font-weight: 900;
    border-radius: 100px;
    z-index: 1;
    border: none;
    color: inherit;
    text-transform: uppercase;
    margin-top: 10px;
    outline: none;
    cursor: pointer;
    transition: 0.2s;
    background: var(--color);
    box-shadow: 0px 4px 0px var(--color-shadow);
    transform: translate(0px, 0px);
    text-decoration: none;
    text-align: center;
    &:hover {
      background: var(--color-hover);
    }
    &:active {
      transform: translate(0px, 2px);
      box-shadow: 0px 2px 0px var(--color-shadow);
    }

    &.button--yellow {
      background: var(--yellow);
      box-shadow: 0px 4px 0px var(--yellow-shadow);
      color: var(--color);
      &:hover {
        background: var(--yellow-hover);
      }
      &:active {
        box-shadow: 0px 2px 0px var(--yellow-shadow);
      }
    }

    &.button--white {
      background: var(--text-color);
      box-shadow: 0px 4px 0px var(--color-shadow);
      color: var(--color);
      &:hover {
        background: rgba(255, 255, 255, 0.9);
      }
      &:active {
        box-shadow: 0px 2px 0px var(--color-shadow);
      }
    }
  }
}

.how-to-play {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family: var(--font);
  color: var(--blue);
  font-size: 22px;
  font-weight: 900;
  border-bottom: 1px solid var(--blue);
  text-transform: uppercase;
  margin-top: 24px;
  @media (min-width: 768px) {
    position: fixed;
    width: 80px;
    height: 80px;
    right: 20px;
    bottom: 20px;
    color: var(--text-color);
    background: var(--blue);
    font-size: 12px;
    border: 4px solid var(--text-color);
    margin-top: 0px;
    padding: 10px;
    border-radius: 80px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
  }
  @media (min-width: 1024px) {
    right: 40px;
    bottom: 40px;
  }
}

.tip-button {
  display: flex;
  position: absolute;
  width: 42px;
  height: 42px;
  border-radius: 44px;
  background: var(--yellow);
  color: var(--text-color);
  font-size: 24px;
  line-height: 1;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  cursor: pointer;
  z-index: 2;
  right: 16px;
  top: 14px;
  transition: 0.3s;
  &:hover {
    background: var(--bg);
  }
  @media (max-width: 767px) {
    width: 28px;
    height: 28px;
    top: 20px;
    right: 20px;
    &:hover {
      background: var(--yellow);
    }
  }
}
