.modal {
  display: block;
  position: fixed;
  overflow-x: hidden;
  overflow-y: auto;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  z-index: 100;
  transition: 0.3s;

  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  &.open {
    pointer-events: all;
    opacity: 1;
    visibility: visible;
  }
}

.modal-backdrop {
  display: flex;
  position: relative;
  padding: 50px 14px;
  width: 100%;
  height: auto;
  min-height: 100vh;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: rgba(0, 0, 0, 0.3);
}

.popup {
  position: relative;
  width: 100%;
  max-width: 754px;
  background: var(--color);
  padding: 30px 40px 40px 40px;
  border-radius: 30px;
  z-index: 1;
  border: 8px solid var(--text-color);
  transition: transform 0.3s;
  transform: translate(0px, 50px);
  .title--h2 {
    display: inline-block;
    max-width: 336px;
    margin-bottom: 10px;
  }
  p {
    display: flex;
    margin: 10px 0px;
    max-width: 270px;
    line-height: 1.3;
  }
  .button {
    margin-top: 14px;
  }
  @media (max-width: 767px) {
    max-width: 340px;
    padding: 30px 20px 30px 20px;
    .title--h2 {
      text-align: center;
      font-size: 28px;
    }
    .button {
      width: 100%;
      padding: 10px;
    }
  }
}

.open .popup {
  transition: transform 0.6s;
  transform: translate(0px, 0px);
}

.error .popup {
  max-width: 620px;
  text-align: center;
  .rules {
    display: none;
  }
  .title--h2 {
    max-width: 100%;
    font-size: 38px;
  }
  p {
    display: none;
  }
  &:before {
    content: '';
    display: block;
    width: 214px;
    height: 250px;
    margin: 0 auto;
    margin-top: -120px;
    margin-bottom: 0px;
    background: url('../img/error.png') no-repeat center center/cover;
  }
  @media (max-width: 767px) {
    margin-top: 50px;
    max-width: 340px;
    .title--h2 {
      text-align: center;
      font-size: 28px;
    }
  }
}

.confirm .popup {
  .rules {
    display: none;
  }
  .title--h2,
  .title--h3,
  .button {
    position: relative;
    z-index: 2;
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 425px;
    height: 425px;
    bottom: 0px;
    right: -20px;
    z-index: 0;
    background: url('../img/confirm.png') no-repeat center center/cover;
    @media (max-width: 767px) {
      position: relative;
      width: 320px;
      height: 320px;
      bottom: -30px;
      right: 20px;
      margin-top: -50px;
    }
  }
  @media (max-width: 767px) {
    .title--h2 {
      max-width: 95%;
      text-align: left;
    }
    p {
      font-size: 18px;
    }
  }
}

.tips .popup {
  max-width: 320px;
  padding: 30px 20px;
  text-align: center;
  .title.title--h2 {
    font-size: 26px;
    line-height: 1;
    div {
      display: block;
      z-index: 1;
      overflow: hidden;
      margin-bottom: 20px;
      border-radius: 30px;
      border: 6px solid var(--yellow);
      box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.2);
    }
  }
  .title.title--h3 {
    display: none;
  }
  .rules {
    display: none;
  }
}

.rules .popup {
  max-width: 320px;
  padding: 0px 10px 20px 10px;
  text-align: center;
  .title--h2 {
    display: block;
    font-size: 28px;
    margin-top: -180px;
  }
  .title--h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .subtitle {
    display: inline-block;
    width: 100%;
    font-size: 14px;
    margin: 5px 0px;
    strong {
      font-family: var(--font);
      font-weight: 900;
    }
  }
  .example {
    display: inline-block;
    width: 100%;
    max-width: 100%;
    background: var(--yellow);
    color: var(--color);
    font-size: 14px;
    padding: 10px;
    border-radius: 80px;
    margin-top: 10px;
  }
  .rules__image {
    position: relative;
    z-index: -1;
    margin-top: -20px;
    margin-bottom: -5px;
  }

  .rules__example-image {
    position: relative;
    z-index: -1;
    margin: 10px auto;
    &.shadow {
      width: 90%;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
      border-radius: 30px;
    }
  }

  .rules-step {
    display: none;
    &.active {
      display: block;
    }
  }
}

.popup__close {
  display: none;
  position: relative;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 48px;
  height: 48px;
  border-radius: 48px;
  background: var(--text-color);
  position: absolute;
  left: 100%;
  top: 0px;
  margin-left: 20px;
  transition: 0.3s;
  transform: rotate(-0deg);
  &.js-popupClose {
    display: flex;
  }
  &:before,
  &:after {
    content: '';
    width: 56%;
    height: 4px;
    background: var(--color);
    position: absolute;
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }

  &:hover {
    transform: rotate(90deg);
  }

  @media (max-width: 1023px) {
    width: 40px;
    height: 40px;
    top: -22px;
    margin-left: -18px;
    z-index: 3;
    &:before,
    &:after {
      content: '';
      height: 3px;
    }
  }
}

.modal-content {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: -1;
  position: absolute;
  &.active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    z-index: 1;
    position: relative;
  }
}
