@font-face {
  font-family: '5KaSansDesign';
  src: url('../fonts/5kasansdesign-black.woff2') format('woff2'), url('../fonts/5kasansdesign-black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: '5KaSansDesign';
  src: url('../fonts/5kasansdesign-semibold.woff2') format('woff2'), url('../fonts/5kasansdesign-semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

:root {
  --font: '5KaSansDesign', sans-serif;
  --bg: #2abbe8;
  --text-color: #fff;
  --color: #ef2d30;
  --color-shadow: #a01113;
  --color-hover: #d3282b;
  --yellow: #fec240;
  --yellow-shadow: #faa334;
  --yellow-hover: #f1b636;
  --invalid: red;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  background: var(--bg);
  color: var(--text-color);
  height: 100%;
  font-size: 24px;
  line-height: 1.2;
  font-family: var(--font);
  font-weight: 600;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

@keyframes expandHeight {
  0% {
    height: 0px;
  }
  50% {
    height: 104px;
  }
  100% {
    height: 0px;
  }
}

.preloader {
  display: flex;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 20px;
  background: var(--bg);
  z-index: 1000;
  transition: 0.3s;
  visibility: visible;
  opacity: 1;
  &.hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  > div {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: flex-end;
    align-content: flex-end;
    width: 140px;
    height: 104px;
    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 140px;
      height: 104px;
      background: url('../img/logo.png') no-repeat center bottom;
      background-size: 140px 104px;
    }

    &:before {
      filter: grayscale(1);
      opacity: 0.3;
    }

    &:after {
      height: 104px;
      animation: expandHeight 1s linear infinite;
    }
  }
}

.header {
  display: block;
  position: fixed;
  width: 100%;
  left: 0px;
  top: 0px;
  z-index: 5;

  nav {
    display: flex;
    align-items: center;
    gap: 36px;
    padding: 20px;
  }
}

.section {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
  overflow: hidden;
  height: auto;
  min-height: 100vh;
}

.container {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 1200px;
  padding: 0px 20px;
  margin: 0 auto;
}

.background-images {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  pointer-events: none;
  user-select: none;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    transition: 0.6s;
    opacity: 0;
  }
  .birthday-bg-image img {
    width: 530px;
    height: auto;
    right: 0px;
    left: auto;
  }
  .barni-image img {
    width: auto;
    height: 78%;
    min-height: 600px;
    top: auto;
    bottom: 0;
    left: 50%;
    transition: 0.6s ease-out 0.2s;
    opacity: 0;
    transform: translate(0px, 50px);
  }
}

.loaded .background-images {
  img {
    opacity: 1;
  }
  .barni-image img {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

.title {
  display: block;
  width: 100%;
  line-height: 1;
  &.title--h1 {
    font-size: 62px;
  }
  &.title--h2 {
    font-size: 48px;
  }
  &.title--h3 {
    font-size: 24px;
  }
}

.subtitle {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 32px;
  line-height: 1.2;
  gap: 24px;
  @media (max-width: 767px) {
    font-size: 24px;
  }
}

.step {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
  transition: 0.3s;
}

.prize {
  display: inline-flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: var(--yellow);
  border: 4px solid var(--color);
  border-radius: 200px;
  z-index: 1;
  width: 104px;
  height: 104px;
  picture {
    position: absolute;
    left: 0px;
    width: 110%;
    max-width: 110%;
    height: auto;
    max-height: auto;
  }
  > img {
    position: absolute;
    left: -5px;
    width: 120%;
    max-width: 120%;
    height: auto;
    max-height: auto;
  }
  &.prize--big {
    width: 244px;
    height: 244px;
    background: var(--color);
    border: 8px solid var(--text-color);
    box-shadow: 0px 4px 250px 50px var(--text-color);
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  gap: 14px;
  list-style: none;
  margin-top: -10px;
  li {
    display: block;
  }
  .button {
    min-width: 350px;
  }
}

.button {
  display: inline-flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 70px;
  padding: 20px 40px;
  min-width: 230px;
  font-size: 24px;
  line-height: 1;
  font-family: var(--font);
  font-weight: 900;
  border-radius: 100px;
  z-index: 1;
  border: none;
  color: inherit;
  text-transform: uppercase;
  margin-top: 10px;
  outline: none;
  cursor: pointer;
  transition: 0.2s;
  background: var(--color);
  box-shadow: 0px 4px 0px var(--color-shadow);
  transform: translate(0px, 0px);
  text-decoration: none;
  text-align: center;
  &:hover {
    background: var(--color-hover);
  }
  &:active {
    transform: translate(0px, 2px);
    box-shadow: 0px 2px 0px var(--color-shadow);
  }

  &.button--yellow {
    background: var(--yellow);
    box-shadow: 0px 4px 0px var(--yellow-shadow);
    color: var(--color);
    &:hover {
      background: var(--yellow-hover);
    }
    &:active {
      box-shadow: 0px 2px 0px var(--yellow-shadow);
    }
  }

  &.button--white {
    background: var(--text-color);
    box-shadow: 0px 4px 0px var(--color-shadow);
    color: var(--color);
    &:hover {
      background: rgba(255, 255, 255, 0.9);
    }
    &:active {
      box-shadow: 0px 2px 0px var(--color-shadow);
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  margin: 16px auto;
  button {
    width: 100%;
    margin-top: 16px;
  }
  input {
    width: 100%;
    border: 3px solid var(--yellow);
    border-radius: 20px;
    z-index: 1;
    height: 74px;
    padding: 10px 24px;
    font-weight: 600;
    font-size: 24px;
    line-height: 1;
    font-family: var(--font);
    color: #000;
    outline: none;
    transition: 0.3s;
    &:focus {
      border: 3px solid var(--yellow-shadow);
    }
    &::placeholder {
      color: rgba(0, 0, 0, 0.2);
    }
    &.invalid {
      border: 3px solid var(--invalid);
    }
  }
}

.sliders {
  position: relative;
  max-width: 868px;
  margin: 0 auto;
}

.swiper {
  display: block;
  width: 100%;
  text-align: center;
  .subtitle {
    display: block;
    width: 100%;
  }
}

.swiper--images {
  border: 6px solid var(--yellow);
  border-radius: 30px;
  z-index: 1;
  margin-top: 16px;
  width: 100%;
}

@import 'modal';
